<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= 'stylesheet' href="/styles.css" />
</head>
<body>
    <h1>Who Is the Man of Mystery???</h1>
    <p>Ian Fleming created the fictional character of James Bond as the central figure for his works. Bond is an intelligence officer in the Secret Intelligence Service, commonly known as MI6. Bond is known by his code number, 007, and was a Royal Naval Reserve Commander. Fleming based his fictional creation on a number of individuals he came across during his time in the Naval Intelligence Division and 30 Assault Unit during the Second World War, admitting that Bond "was a compound of all the secret agents and commando types I met during the war".[2] Among those types were his brother, Peter, who had been involved in behind-the-lines operations in Norway and Greece during the war.[3] Aside from Fleming's brother, a number of others also provided some aspects of Bond's make up, including Conrad O'Brien-ffrench, Patrick Dalzel-Job and Bill "Biffy" Dunderdale.</p>
    <p></p>
</body>
</html>