<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= 'stylesheet' href="/styles.css" />
</head>
<body>
    <h1>Men Who Have Played The Man of Mystery</h1>
    <li>Sean Connery (1962–67; 1971)</li>
    <li>George Lazenby (1969)</li>
    <li>Roger Moore (1973-85)</li>
    <li>Timothy Dalton (1987-89)</li>
    <li>Peirce Bronsan (1995-2002)</li>
    <li>Daniel Craig (2006-21)</li>
</body>
</html>